In [1]:
import pandas as pd
import numpy as np

In [2]:
fbds = pd.read_csv("C:\\Users\\SWARAJ\\Documents\\DSBDA\\dataset_Facebook.csv",sep=";")

In [3]:
fbds.head(9)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192

In [5]:
fbds.shape

(500, 19)

## Creating Subsets

### Row wise

In [6]:
subset1 = fbds.iloc[[1, 6, 12, 18, 28, 39, 45, 55, 61, 70],:]

In [7]:
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
18,138414,Status,3,12,2,3,0.0,3930,7509,130,86,112,5009,2410,101,4,54.0,17.0,75
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
39,138895,Photo,1,12,7,3,0.0,3290,6085,306,284,402,4986,2584,247,1,44.0,14.0,59
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
61,138185,Photo,1,11,3,2,1.0,50912,164528,630,513,952,54653,12704,346,8,144.0,10.0,162
70,137893,Photo,1,11,5,10,1.0,39344,103050,588,460,695,39304,11392,336,7,146.0,9.0,162

In [8]:
subset2 = fbds.iloc[[95,108,126,142,159,182,220,258,300,375,400], :]

In [9]:
subset2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
95,137059,Photo,3,10,6,10,0.0,3090,5744,391,257,360,3521,1796,293,5,153.0,27.0,185
108,136736,Photo,3,10,7,9,0.0,2426,4469,320,237,325,3120,1684,248,7,125.0,16.0,148
126,136393,Photo,3,10,7,3,0.0,3366,6647,474,345,495,3180,1674,385,3,198.0,41.0,242
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
159,135617,Photo,2,9,1,3,1.0,2055,3915,346,288,412,2970,1507,277,1,84.0,13.0,98
182,134879,Photo,3,9,3,2,1.0,4260,7989,588,435,622,4578,2432,436,1,226.0,44.0,271
220,131956,Photo,2,8,1,4,0.0,2540,4372,389,330,458,3655,2063,279,2,86.0,8.0,96
258,129600,Photo,2,7,3,1,0.0,4220,7774,685,597,838,4404,2326,407,10,167.0,26.0,203
300,124940,Photo,2,6,6,9,0.0,6952,11469,909,779,1229,7431,4292,646,11,231.0,43.0,285
375,111620,Photo,3,4,4,7,1.0,12824,18929,830,623,864,15678,10968,705,0,286.0,30.0,316
400,107907,Photo,3,4,4,5,1.0,3714,6385,537,481,645,4441,2512,395,5,91.0,26.0,122

In [10]:
subset1.shape

(10, 19)

In [11]:
subset2.shape

(11, 19)

### Column wise

In [12]:
subset3 = fbds.iloc[:,[2,4,6,8]]

In [13]:
subset3.head(9)

   Category  Post Weekday  Paid  Lifetime Post Total Impressions
0         2             4   0.0                             5091
1         2             3   0.0                            19057
2         3             3   0.0                             4373
3         2             2   1.0                            87991
4         2             2   0.0                            13594
5         2             1   0.0                            20849
6         3             1   1.0                            19479
7         3             7   1.0                            24137
8         2             7   0.0                            22538

In [14]:
subset4 = fbds.iloc[:,[10,12,13,15]]

In [15]:
subset4.head(9)

,Lifetime Post Consumers,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,comment
0,109,3078,1640,4
1,1361,11710,6112,5
2,113,2812,1503,0
3,790,61027,32048,58
4,410,6228,3200,19
5,1073,16034,7852,1
6,265,15432,9328,3
7,232,19728,11056,0
8,1407,15220,7912,0

## Merging of subsets

In [16]:
merge1 = pd.concat([subset1,subset2])

In [17]:
merge1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
18,138414,Status,3,12,2,3,0.0,3930,7509,130,86,112,5009,2410,101,4,54.0,17.0,75
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
39,138895,Photo,1,12,7,3,0.0,3290,6085,306,284,402,4986,2584,247,1,44.0,14.0,59
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
61,138185,Photo,1,11,3,2,1.0,50912,164528,630,513,952,54653,12704,346,8,144.0,10.0,162
70,137893,Photo,1,11,5,10,1.0,39344,103050,588,460,695,39304,11392,336,7,146.0,9.0,162
95,137059,Photo,3,10,6,10,0.0,3090,5744,391,257,360,3521,1796,293,5,153.0,27.0,185
108,136736,Photo,3,10,7,9,0.0,2426,4469,320,237,325,3120,1684,248,7,125.0,16.0,148
126,136393,Photo,3,10,7,3,0.0,3366,6647,474,345,495,3180,1674,385,3,198.0,41.0,242
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
159,135617,Photo,2,9,1,3,1.0,2055,3915,346,288,412,2970,1507,277,1,84.0,13.0,98
182,134879,Photo,3,9,3,2,1.0,4260,7989,588,435,622,4578,2432,436,1,226.0,44.0,271
220,131956,Photo,2,8,1,4,0.0,2540,4372,389,330,458,3655,2063,279,2,86.0,8.0,96
258,129600,Photo,2,7,3,1,0.0,4220,7774,685,597,838,4404,2326,407,10,167.0,26.0,203
300,124940,Photo,2,6,6,9,0.0,6952,11469,909,779,1229,7431,4292,646,11,231.0,43.0,285
375,111620,Photo,3,4,4,7,1.0,12824,18929,830,623,864,15678,10968,705,0,286.0,30.0,316
400,107907,Photo,3,4,4,5,1.0,3714,6385,537,481,645,4441,2512,395,5,91.0,26.0,122

In [18]:
merge2 = pd.concat([subset3, subset4])

In [19]:
merge2

,Category,Post Weekday,Paid,Lifetime Post Total Impressions,Lifetime Post Consumers,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,comment
0,2.0,4.0,0.0,5091.0,NaN,NaN,NaN,NaN
1,2.0,3.0,0.0,19057.0,NaN,NaN,NaN,NaN
2,3.0,3.0,0.0,4373.0,NaN,NaN,NaN,NaN
3,2.0,2.0,1.0,87991.0,NaN,NaN,NaN,NaN
4,2.0,2.0,0.0,13594.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
495,NaN,NaN,NaN,NaN,708.0,4750.0,2876.0,5.0
496,NaN,NaN,NaN,NaN,508.0,3961.0,2104.0,0.0
497,NaN,NaN,NaN,NaN,572.0,4742.0,2388.0,4.0
498,NaN,NaN,NaN,NaN,574.0,4534.0,2452.0,7.0
499,NaN,NaN,NaN,NaN,524.0,3861.0,2200.0,0.0

## Sort Values

In [20]:
ascendingorder = fbds.sort_values('like', ascending = True)

In [21]:
ascendingorder

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

## Transpose of Dataset

In [22]:
fbds.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

## Reshaping Dataset

In [23]:
rs = fbds.melt(id_vars = ["like"], value_vars = ["share","comment"])

In [24]:
rs

       like variable  value
0      79.0    share   17.0
1     130.0    share   29.0
2      66.0    share   14.0
3    1572.0    share  147.0
4     325.0    share   49.0
..      ...      ...    ...
995    53.0  comment    5.0
996    53.0  comment    0.0
997    93.0  comment    4.0
998    91.0  comment    7.0
999    91.0  comment    0.0

[1000 rows x 3 columns]